@import './mixins';

:root {
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*::selection {
  background-color: var(--color-secondary);
  color: white;
}

body {
  font-family: var(--typography--primary);
  margin: 0;
  margin-bottom: var(--footer-height);
  padding-top: var(--header-height);
  min-height: calc(100vh - var(--footer-height));
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0,0,0,.2);
  background-color: white;
}

.typography-headline1 {
  font-family: var(--typography--primary);
  font-size: 54px;
  font-weight: 400;
  line-height: 64px;
  margin: 0;
}

.typography-headline2 {
  font-family: var(--typography--primary);
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  margin: 0;
}

.typography-headline3 {
  font-family: "Gotham Narrow Book";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.typography-headline4 {
  font-family: var(--typography--primary);
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin: 0;
}

.typography-subtitle {
  font-family: var(--typography--primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.typography-body {
  font-family: var(--typography--primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.caption {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
